html, body {
	font-size: 16px;
	color: #dfdfdf;
	background-color: #063647; 
	font-family: 'Google Sans', sans-serif;
}

a {
	color: #ffffff;
}

a:hover {
	color: #00d1b2;
}

section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
	transition: color 0.5s ease;
}

a.nav-item:hover {
	color: #7200fd;
	animation-delay: 4s;
}

.avatar {
	height: 200px;
	border-radius: 50%;
}

.intro-description {
	padding-top: 1rem;
}

.social-container img {
	max-width: 100%;
	max-height: 175px;
	margin-bottom: 15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-img {
	max-height: 256px;
	max-width: 256px;
	border-radius: 20px;
}

.project-text {
	text-align: justify;
}

.proj-title {
    text-align: center; /* Horizontally center the text */
    display: flex;      /* Enable flexbox */
    justify-content: center; /* Horizontally align items to the center */
    align-items: center;  /* Vertically align items to the center */
    height: 50px;    /* Adjust the height as needed */
    font-weight: bold; /* Optional: make the text bold */
    margin-bottom: 1rem; /* Optional: add some space below the title */
    color: #fff;      /* Ensure text color is appropriate */
}

.box {
	background-color: rgba(45, 223, 202, 0.192);
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

.fb, .ln {
	border-radius: 20px;
}

.title.is-1.has-text-centered {
	display: flex;
	text-align: center;
	align-items: center;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%; /* Adjust height as needed */
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

	.project-figure {
		max-height: 200px;
		max-width: 200px;
	}
}
